{% extends 'base.html' %}

{% block title %}Directory{% endblock %}

{% block body %}
<h3 class="text-center" id="head2">Directory</h3>

<div class="container text-center">
<div class="row">
    <div class="col-md-3"></div>
<div class="col-md-6">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
      </tr>
    </thead>
    <tbody>
{% for i in obj %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.name}}</td>
        <td>{{i.number}}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
  <a href="/"><span  class="badge bg-secondary">Return</span></a>

  </div>
  <div class="col-md-3"></div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="main-box">

      <h4 id="head2" class='text-center'>Enter Name to Search </h4>
            <form action="/directory/" method="post">{% csrf_token %}
            <div class="mb-3">
                <input type="text" name="searchname" class="form-control" placeholder="Enter Name Here" required>
            </div>

            <div class="mb-3 d-flex justify-content-center">
            <input id="btn" type="submit" class="form-control" value="Search">
            </div>
            </form>
            {% if x == 1 %}
            <div class="alert alert-primary" role="alert">
              Contact: {{det}}
            </div>
            {% elif x == 2 %}
            <div class="alert alert-danger" role="alert">
              Contact Not Found !
          </div>
            {% else %}
            <p></p>
            {% endif %}
    </div>
    <div class="col-md-4"></div>
  </div>
</div>


{% endblock %}